<div style="margin: 25px;">
    <span style="font-size: 30px; font-weight: 800; margin-right: 50px; " >Logs Database</span>
    <button class="downloadcsv" (click)="downloadCSV()">Download CSV</button>
    <input #id type="text" placeholder="Device ID" />
    <input type="datetime-local" #fromDt step="1">
    <input type="datetime-local" #toDt step="1">
    <button (click)="capture(fromDt.value, toDt.value, id.value)">Save</button>
</div>
<app-table [table]="table" [titles]="titles" [widen]="true"/>